{% extends "base.html"%}
{% load static %}
{%block content%}


        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Products</h2>
                                    <a href="/addproducts"><button class="au-btn au-btn-icon au-btn--blue">
                                        <i class="zmdi zmdi-plus"></i>Add Product</button></a>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Size</th>
                                                <th>Price</th>
                                                <th>Edit</th>
                                                <th>Delete</th> 
                                               
                                            </tr>
                                        </thead>
                                        {% for product in obj %}
                                        <tbody>
                                            <tr>
                                           
                                                <td> <a href="">{{product.product_name}}</a></td>
                                                <td>{{product.product_size}}</td>
                                                <td>{{product.product_price}}</td>
                                                  <td ><a href="{% url 'product-update' id=product.id %}">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                </a></td>
                                                <td><a href="{% url 'product-delete' id=product.id %}">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                                </button>
                                                </a></td>

                                               
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
 {%endblock%}